body {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: 20%;
    background-color: #faebd7;
}

.container {
    float: left;
    margin-right: 500px;
}

.btns {
    border: 0;
    border-radius: 8px;
    color:#faebd7;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    display: block;
    transition: 0.1.5s;
}

.btns:hover {
    color: #000000;
}

#monday {
    background-color: #d5a6bd;
}

#tuesday {
    background-color: #b4a7d6;
}

#wednesday {
    background-color: #9fc5e8;
}

#thursday {
    background-color: #b6d7a8;
}

#friday {
    background-color: #a2c4c9;
}

#saturday {
    background-color: #f9cb9c;
}

#sunday {
    background-color: #ea9999;
}

.container2 {
    float: right;
}

#box-m {
    background-color: #d5a6bd;
    border-color: #d5a6bd;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    width: 450px;
    height: 450px;
    margin-top: -900px;
    position: absolute;
    transition: all 1.5s ease-in-out;    
}

#box-t {
    background-color: #b4a7d6;
    border-color: #b4a7d6;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    width: 450px;
    height: 450px;
    margin-top: -900px;
    position: absolute;
    transition: all 1.5s ease-in-out;    
}

#box-w {
    background-color: #9fc5e8;
    border-color: #9fc5e8;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    width: 450px;
    height: 450px;
    margin-top: -900px;
    position: absolute;
    transition: all 1.5s ease-in-out;    
}

#box-th {
    background-color: #b6d7a8;
    border-color: #b6d7a8;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    width: 450px;
    height: 450px;
    margin-top: -900px;
    position: absolute;
    transition: all 1.5s ease-in-out;    
}

#box-f {
    background-color: #a2c4c9;
    border-color: #a2c4c9;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    width: 450px;
    height: 450px;
    margin-top: -900px;
    position: absolute;
    transition: all 1.5s ease-in-out;    
}

#box-s {
    background-color: #f9cb9c;
    border-color: #f9cb9c;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    width: 450px;
    height: 450px;
    margin-top: -900px;
    position: absolute;
    transition: all 1.5s ease-in-out;    
}

#box-su {
    background-color: #ea9999;
    border-color: #ea9999;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    width: 450px;
    height: 450px;
    margin-top: -900px;
    position: absolute;
    transition: all 1.5s ease-in-out;    
}